.row .row-reverse {
    display: flex;
}

.row {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

.archieve-card:hover{
    cursor: pointer;
}


.arcieve-header{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: auto;

}

.archieve-heading{
    font-size: 25px;
    max-width: 600px;
    letter-spacing: 2px;
    padding: 10px 0px;
    transition: 0.5s all ease-in-out;
}


.archieve-heading b {
    font-weight: 800;
}

.archieve-card:hover .archieve-heading b{

    animation: chroma_1  ease-in 0.2s normal forwards;
}

.archieve-date{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 200;
    padding: 12px 0px;
}

 img {
    object-fit: cover;
    /* width: 100%; */
    height: 200px;
    overflow: hidden;
    margin: 0 auto;
    transition: 0.5s all ease-in-out;
}

.archieve-card:hover img{

    /* width: 100%; */
    transform: scale(1.1);
    /* animation: chroma_1  ease-in 0.2s normal forwards; */
}
.archieve-content {
    display: grid;
    align-items: center;
     justify-items: center;
}
.archieve-content p {
    font-size:12px;
    font-weight: 200;
    letter-spacing: 0.5px; 
    padding:  0px 80px;
}  
.nav a {
    color:var(--foreground-color);
    text-decoration: none;
    transition: all 0.3s ease-in;
}

.nav a:hover {
    /* color:var(--foreground-grey); */
    animation: chroma  ease-in 0.2s normal forwards;
}

@keyframes chroma_1{
    100%{text-shadow:-1px 0px 0px #1AD7E0, -3px 0px 0px #0D10DC,1px 0px 0px #d68010 ,3px 0px 0px #CB0C0C;}
    
}